.a1 {
    color: seagreen;
    border-radius: 50%;
}

.a1:hover{
    border: 7px outset;
}

.a2 {
    color: seagreen;
    border-radius: 50%;
}

.a2:hover{
    border: 7px outset;
}

.a3 {
    color: seagreen;
    border-radius: 50%;
}

.a3:hover{
    border: 7px outset;
}

.a4 {
    color: seagreen;
    border-radius: 50%;
}    

.a4:hover{
    border: 7px outset;
}    

.a5 {
    color: seagreen;
    border-radius: 50%;
}

.a5:hover{
    border: 7px outset;
}

.a6 {
    color: seagreen;
    border-radius: 50%;
}

.a6:hover{
    border: 7px outset;
}

.a7 {
    color: seagreen;
    border-radius: 50%;
}

.a7:hover{
    border: 7px outset;
}